.App {
  text-align: center;
}
.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}
.LoginBox {
  background: lightblue;
  padding: 0.5em;
}
.navbar{
  display: inline-block;
  list-style: none;
  font-size: 20px;
  width: 100%;
  margin-bottom: 0px;
  z-index: 999;
}
div.header{
  margin-top: -4.5%;
}
div.header{
  margin-top: -3.5%;
  padding-bottom: 16%;
}
a{
  text-decoration: none;
  padding-left: 200px;
  font-family: 'Nunito Sans', sans-serif;
}
a:hover{
  color: black;
}
h1{
  margin-top: 3rem;
  font-size: 48px;
  padding-top: 70px;
  font-family: 'Domine', serif;
  color: #212b3d;
  top: 0;
}
h2{
  padding-bottom: 20px;
  padding-top: 30px;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  color: #394251;
}
h3{
  border-bottom: 1px solid black;
  width: 80%;
  padding-bottom: 10px;
  margin: 0 auto;
}
.searchbox{
  width: 80%;
  height: 50px;
  font-size: 24px;
  text-align: center;
}
.btn-success{
  margin-top: 10px;
  height: 50px;
  width: 300px;
  margin-bottom: 19%;
  margin-right: 16%;
}
.map-container{
  margin: 5% 1%;
}
.log-in-text{
  margin: 10px;
  text-align: center;
}
.backgroundImage{
  background-repeat: no-repeat;
  background-size: 100%;
}
.second-fold{
 background: linear-gradient(to bottom, rgba(52, 63, 71, 0.7), rgba(227, 234, 239, 0.7));
 width: 100%;
}
.section{
  height: 100%;
  width: 100%;
}
.fav-container{
  margin-top: 7.5%;
  width: 40%;
  height: 80%;
  border: 1px black solid;
  float: right;
  margin-right: 5%;
}
.fav{
  height: 20%;
  width:100%;
}
.about-name {
  font-family: 'Domine', serif;
  font-size: 24px;
}
.about-me{
  margin: 5% 0 5% 16%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}
.about-insp{
  margin-left: 9%;
  font-family: 'Nunito Sans', sans-serif;
}
.tech-used{
  margin-left: 8%;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}
.tech-header{
  font-family: 'Domine', serif;
  font-size: 32px;
  text-align: center;
}
ul{
  list-style: none;
}
.beerImage{
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100%;
  color: whitesmoke;
}
.hikeImage{
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100%;
  color: whitesmoke;
}
.hikeBox{
  border: 2px solid black;
  position: absolute;
  left: 5%;
  top: 25%;
}
.brewBox{
  border: 2px solid white;
  position: absolute;
  left: 5%;
  top: 25%;
}
.about{
  background: linear-gradient(to bottom, rgba(52, 63, 71, 0.7), rgba(227, 234, 239, 0.7)) 100%;
  top: 0;
  margin-top: -7%;
  padding-bottom: 40%;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    width: 40%;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#load-photo {
  position: relative;
  width: 70%;
  left: 15%;
}
