
.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}
.navbar{
  display: inline-block;
  list-style: none;
  font-size: 20px;
  width: 100%;
}
div.header{
  top: 0;
  margin-top: -74px;
  height: 50%;
  width: 100%;
  background-image: url("/img/mountainbeer.jpg") center center no-repeat;
}
a{
  text-decoration: none;
  padding-left: 200px;
  font-family: 'Nunito Sans', sans-serif;
}
a:hover{
  color: black;
}
h1{
  font-size: 48px;
  margin-top: 150px;
  font-family: 'Domine', serif;
}
h2{
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
}
.searchbox{
  margin-top: 150px;
  width: 80%;
  height: 50px;
  font-size: 24px;
}
.btn-success{
  margin-top: 10px;
  height: 50px;
  width: 300px;
}
.MapContainer{
  margin-left:18%;
}
.map-header{
  margin-right: 50%;
}
.log-in-text{
  margin: 10px;
  text-align: center;
}

.backgroundImage{
  background-repeat: no-repeat;
  background-size: contain;
}
