.App {
  text-align: center;
}

.SignupBox {
  background: lightgreen;
  padding: 0.5em;
}

.LoginBox {
  background: lightblue;
  padding: 0.5em;
}
div.cover{
  height: 50%;
  width: 100%;
  background-image: url(images/mountainbeer.jpg) cover no-repeat;
}
.navbar{
  display: inline-block;
  list-style: none;
  font-size: 20px;
  width: 100%;
}
a{
  text-decoration: none;
  padding-left: 200px;
  font-family: 'Nunito Sans', sans-serif;
}
a:hover{
  color: black;
}
h1{
  font-size: 32px;
  font-family: 'Domine', serif;
}
h2{
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
}
.searchbox{
  width: 80%;
  height: 50px;
  font-size: 24px;
}
.btn-success{
  height: 50px;
  width: 300px;
}
